{% extends "manage_base.html" %}
{% block main %}
  <main class="manage-div" xmlns="http://www.w3.org/1999/html">
    {# 注意这里的enctype必须是 multipart/form-data ，否则request.files就是空的#}
    <form class="normal-form" action="" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label>Name</label>
        <input id="name" name="name" type="text" required/>
      </div>
      <div class="form-group">
        <label>Grade</label>
        <input id="grade" name="grade" type="text" required/>
      </div>
      <div class="form-group">
        <label>Blog Type</label>
        <select class="w3-select" id="blog_type" name="blog_type" required>
          <option value="csdn">csdn</option>
          <option value="cnblogs">cnblogs</option>
          <option value="sina">sina</option>
          <option value="others">others</option>
        </select>
      </div>
      <div class="form-group">
        <label>Blog Address</label>
        <input id="blog_address" name="blog_address" type="text" required/>
      </div>
      <div class="form-group">
        <label for="flag">Flag True</label>
        <input id="flag" type="checkbox" class="w3-check" name="flag" value="y" checked/>
      </div>
      <div class="form-group">
        <label>Avatar</label>
        <input name="avatar" type="file"/>
      </div>
      <div class="form-group">
        <button type="submit">确认添加</button>
      </div>
    </form>
  </main>
{% endblock %}
