{% extends "bootstrap/base.html" %}

{% block head %}
  <title>ACAT 实验室群博客</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/ACAT.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/ACAT.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/originOne.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/originTwo.css') }}">
{% endblock %}


{% block navbar %}
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
              <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <a class="navbar-brand logo" href="http://222.24.63.100:9149/CAL/" target="_blank"><img
                    src="{{ url_for('static',filename='images/ACAT.jpg') }}" class="img-circle img-thumbnail"
                    width="50px"
                    style="margin-top:5px;"/></a>
          </div>
        </div>
        <div class="col-md-8">
          <nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
            <ul class="nav navbar-nav navbar-right menu">
              <li><a href="#page-top" class="page-scroll active">主页</a></li>
              <li><a href="#section2" class="page-scroll">博客</a></li>
              <li><a href="#work" class="page-scroll">个人</a></li>
              <!--<li><a href="#section4" class="page-scroll">榜单</a></li>-->
              {% if session.get('login') %}
                <li><a href="{{ url_for('main.manage') }}">管理</a></li>
                <li><a href="{{ url_for('main.logout') }}">注销</a></li>
              {% else %}
                <li><a href="#" data-toggle="modal" data-target="#login">登录</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
        {% if not session.get('login') %}
          <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="登录界面" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title text-center" id="myModalLabel">
                    管理员登录
                  </h4>
                </div>
                <div class="modal-body form-group">
                  <form role="form" name="loginForm" action="{{ url_for('main.login') }}" method="post" id="loginForm">
                    {{ login_form.csrf_token }}
                    <div class="col-lg-6 form-group">
                      {{ login_form.username(class="form-control",placeholder="请输入管理员密码") }}
                    </div>
                    <div class="col-lg-6 form-group">
                      {{ login_form.password(class="form-control",placeholder="请输入管理员密码") }}
                    </div>
                  </form>
                </div>
                <div class="modal-footer  form-group">
                  {{ login_form.submit(form="loginForm",class="btn btn-info") }}
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal -->
          </div>
        {% endif %}
      </div>
    </div>
    <div class="container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="page_content">
    {% block page_content %}
    {% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/origin.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.countTo.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.Pages.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
{% endblock %}
