<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XUPT ACAT群博</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/ACAT.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/ACAT.ico') }}" type="image/x-icon">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
<header class="w3-container w3-padding-24 w3-bottombar">
  <img src="{{ url_for('static', filename="images/ACAT.jpg") }}" alt="ACATlogo" class="img-logo"/>
  <span class="header-title">XUPT ACAT 群博网站</span>
</header>


<aside class="w3-container w3-border">
  {% for grade in grade_group %}
    <section class="w3-container w3-border-bottom author-container grade-group">
      <h2 class="grade-title">{{ grade[0].grade }}级</h2>
      {% for author in grade %}
        <section class="w3-container w3-border-bottom author-container">
          <img src="{{ url_for('main.avatar',author_id=author.id) }}" alt="ACATlogo" class="img-thumbnail"/>
          <a href="{{ author.blog_address }}">{{ author.name }}</a>
        </section>
      {% endfor %}
    </section>
  {% endfor %}

</aside>

<main class="w3-container w3-border">
  {% for article in articles %}
    <section class="w3-container w3-padding-24 w3-border-bottom">
      <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
      <p>{{ article.content_text[:300] }}</p>
      <br/>
      <div class="article-footer">
        <span class="article-author">
          <a href="{{ article.author.blog_address }}" target="_blank">{{ article.author.name }}</a>
        </span>
        <span class="article-time">{{ article.pub_date.strftime('%Y-%m-%d') }}</span>
      </div>
    </section>
  {% endfor %}
  <div class="pagination-container w3-padding-16">
    <div class="pagination">
      <a href="{{ url_for('main.index', page=pagination.prev_num) }}">&laquo;</a>
      {%- for page in pagination.iter_pages(left_edge=2, left_current=2, right_current=5, right_edge=2) %}
        {% if page %}
          {% if page != pagination.page %}
            <a href="{{ url_for('main.index', page=page) }}">{{ page }}</a>
          {% else %}
            <a href="#" class="active">{{ page }}</a>
          {% endif %}
        {% else %}
          <a id="a-disabled" href="#">…</a>
        {% endif %}
      {%- endfor %}
      <a href="{{ url_for('main.index', page=pagination.next_num) }}">&raquo;</a>
    </div>
  </div>
</main>


<footer class="w3-container w3-padding-24 w3-topbar w3-center w3-xlarge">
  XUPT ACAT群博<br>西安邮电大学 - 计算机应用技术协会
</footer>

<script>
    var grade_group = document.getElementsByClassName('grade-group')
    for (i = 0; i < grade_group.length; i++) {
        var grade_title = grade_group[i].getElementsByClassName('grade-title')[0]
        grade_title.addEventListener('click', function () {
            var authors = this.parentElement.getElementsByTagName('section')
            for (j = 0; j < authors.length; j++) {
                if (authors[j].style['display'] == 'none') {
                    authors[j].style['display'] = 'block'
                }
                else {
                    authors[j].style['display'] = 'none'
                }
            }
        })
        var authors = grade_group[i].getElementsByTagName('section')
        for (j = 0; j < authors.length; j++) {
            authors[j].style['display'] = 'none'
        }
    }
</script>
</body>
</html>
