<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XUPT ACAT群博</title>
  <link rel="stylesheet" href="../static/css/w3.css"/>
  <link rel="stylesheet" href="../static/css/style.css"/>
</head>

<body>
<header class="w3-container w3-light-grey w3-border-bottom">
  <img src="../static/images/ACAT.jpg" alt="ACATlogo" class="img-thumbnail" style="width: 50px;hight: 50px;"/>
  description
</header>
<aside class="w3-container w3-light-grey w3-border">
  {% for author in authors %}
    <section class="w3-container w3-border-bottom">
      <img src="{{ url_for('main.avatar',author_id=author.id) }}" alt="ACATlogo" class="img-thumbnail"/>
      <a href="{{ author.blog_address }}">{{ author.name }}</a>
    </section>
  {% endfor %}
</aside>
<main class="w3-container">
  {% for article in articles %}
    <section class="w3-card-2">
      <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
      <p>{{ article.content_text[:300] }}</p>
      <br/>
      <span>{{ article.author.name }}</span>
      <span>{{ article.pub_date.strftime('%Y-%m-%d') }}</>
    </section>
  {% endfor %}

</main>
<footer class="w3-container">XUPT ACAT群博</br>西安邮电大学计算机应用技术协会</br></footer>
</body>
</html>
