{% extends "manage_base.html" %}
{% block main %}
  <main class="manage-div">
    <table class="manage-table">
      <tr>
        <th>Avatar</th>
        <th>id</th>
        <th>name</th>
        <th>blog_type</th>
        <th>blog_address</th>
        <th>flag</th>
        <th></th>
        <th></th>
      </tr>
      {% for author in authors %}
        <tr>
          <td><img src="{{ url_for('main.avatar',author_id=author.id) }}" class="img-thumbnail"
                   alt="{{ author.name }}"/></td>
          <td>{{ author.id }}</td>
          <td>{{ author.name }}</td>
          <td>{{ author.blog_type }}</td>
          <td>{{ author.blog_address }}</td>
          <td>{{ author.flag }}</td>
          <td><a href="{{ url_for('main.author_modify',author_id=author.id) }}" class="w3-button w3-blue">Modify</a>
          </td>
          <td><a href="{{ url_for('main.author_delete',author_id=author.id) }}" class="w3-button w3-red">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <div><a href="{{ url_for('main.author_add') }}" class="w3-button w3-blue">Add author</a></div>
  </main>
{% endblock %}